{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> &rsaquo; Send Mail
    </div>
{% endblock %}

{% block content %}

    <div id="content-main">
        <h1>Send message to all users</h1><br>
        <form action='' method="POST" >
            <div class="form-group">
                <label for="email">Subject:</label><br>
                {{ form.subject }}
            </div>
            <div class="form-group">
                <label for="email">Message:</label><br>
                {{ form.content }}
            </div>
            {% csrf_token %}
            <button  type="submit" class="btn btn-primary" >Send</button> 
        </form>
    </div>

{% endblock %}
